html, body {
    margin:0;
    padding:0;
    font-family: sans-serif;
}

/*sectioning*/
.grid-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #222629;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: ". . ." "logo div1 div2" "logo div3 div4";
}
  
.logo {
    grid-area: logo;
}

.div1 {
    grid-area: div1;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}

.div4 {
    grid-area: div4;
}

img{
  margin: 50px;
  width: 100%;
}

/*name cards font, color etc.*/
h1,
h2 {
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 26px;
  color: #61892F;
}

p {
  margin: 0px;
  font-size: 20PX;
}

.profile-card {
    width: 500px;
    height: 250px;
    border: 1px solid black;
    background: white;
}

  .profile-card header {
    width: 500px;
    height: 50px;
    margin-top: 40px;
    text-align: center;
}

.profile-card header h1 {
    color: #86C232;
}

  .profile-card .profile-bio {
    width: 500px;
    color: #222629;
    margin-top: 50px;
    text-align: center;
}
