html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background:rgb(34,38,41);
  zoom: 100%;
  font-size: small;
  font-family: 'Merriweather', serif;
  -webkit-text-size-adjust: auto;
}



#sub-items{
  font-size: smaller;
}

#page-editor {
  font-size: large;
  text-align: center;
  text-align: bottom;
}


