body{
	background-color: #666;
}



h1{font-family: Papyrus, fantasy;
          color: white;
          text-align: center;
          font-size: 40px;
          margin: 40px 20px 80px 20px;
	
}.


#pic{
	transition:2s;
	
}
#pic:hover{
	transform:scale(1,1.2);
	
}